<script>
	import API from './API.js';
	import Loading from './util/Loading.svelte';
	import Error from './util/Error.svelte';

	let promise, clicked = false;

	function getNumber() {
		clicked = true;
		promise = API.get('./rand');
	}
</script>

<style global lang="postcss">
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
</style>

<main class="bg-grey-lighter h-screen font-sans">
	<div class="container mx-auto h-full flex justify-center items-center">
		<div class="w-1/3">
			<h1 class="text-center h-full text-xl sm:text-2xl font-semibold text-black px-4 py-6 sm:px-6 pb-1">
				Random Number Generator
			</h1>

			<p class="text-center h-full p-2 text-gray-600 text-sm">
				{#if !clicked}
					This button fetches a random number from the flask backend running at '/rand'.
				{:else}
					{#await promise}
						<Loading />
					{:then number}
						Your number is {number}!
					{:catch error}
						<Error message={error} />
					{/await}
				{/if}
			</p>

			<div class="mx-auto h-full flex justify-center items-center">
				<button on:click={getNumber} class="py-2 px-4 bg-red-500 text-white font-semibold rounded-lg shadow-md hover:bg-red-700 focus:outline-none">
					Generate
				</button>
			</div>
		</div>
	</div>
</main>
