<script>
  import Icon from 'svelte-awesome';
  import { spinner } from 'svelte-awesome/icons';
</script>

<div class="flex flex-1 items-center h-full justify-center">
  <Icon data={spinner} scale={1.5} pulse/>
</div>
